<div class="card-container">
    <div class="question-card">
        <p>{{option.optionText}}</p>
    </div>

</div>

<div class="card-container">
    <div class="option-card">
        <p>{{option.optionText}}</p>

        <div class="activity-btns">
            <div class="edit-btn">
                <a [routerLink]="['/', option.id, 'edit']" class='btn btn-warning'>Edit</a>
            </div>
            <div class="delete-btn">
                <button type="button" class="btn btn-danger" (click)='deleteOption(option.id)'>Delete</button>
            </div>
        </div>
    </div>

</div>
